---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
